---
layout: layouts/nav.njk
---

<form name="contact" class="d-grid gap-2" netlify>
    <div class="p-3">
        <fieldset class="d-grid gap-1">
            <label for="fname" class="form-label" >First name</label>
            <input type="text" name="fname" id="fname" class="form-control" autocomplete="given-name">
            <label for="lname" class="form-label">Last name</label>
            <input type="text" name="lname" id="lname" class="form-control" autocomplete="family-name">
        </fieldset>
        <fieldset class="d-grid gap-1">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email"
                placeholder="name@example.com" autocomplete="on">
            <label for="phoneNumber" class="form-label">Phone number</label>
            <input type="tel" name="phoneNumber" class="form-control" id="phoneNumber" maxlength="13" autocomplete="tel">
        </fieldset>
        <fieldset class="d-grid gap-1">
            <legend>What is your enquiry?</legend>
            <select name="enquiry" id="enquiry" >
                <option value="Build a website">Build a new website</option>
                <option value="Optimisation">Optimise existing website</option>
                <option value="Improve accessiblity">Improve accessiblity</option>
                <option value="Job opportunity">Job opportunity</option>
                <option value="Other">Other</option>
            </select>
            <legend>Any additional information</legend>
            <textarea name="textArea" class="form-control" id="additionalInformation" rows="3"></textarea>
        </fieldset>
        <fieldset>
            <legend>Sign up for the newsletter</legend>
            <input type="radio" name="signup" id="signupYes" value="yes">
            <label for="signupYes">Yes</label> <br>
            <input type="radio" name="signup" id="signupNo" value="no">
            <label for="signupNo">No</label>
        </fieldset>
        <fieldset>
            <legend>Terms and conditions</legend>
          <p>We will not share your data with outside parties. We cannot guarantee that netlify will secure your data. Do you agree to share your data on these grounds?</p>
            <input type="radio" name="termsAndConditions" id="termsAndConditionsYes"><label for="termsAndConditionsYes">Yes</label>
            <br>
            <input type="radio" name="termsAndConditions" id="termsAndConditionsNo" value="no">
            <label for="termsAndConditionsNo">No</label>
        </fieldset>
        <button type="submit">Submit</button>
    </div>
</form>