<div class="row">
    <div class="col-12">
        <h2 id="skills">My skills</h2>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <ul class="skills-list">
            <li><img src="/img/html-logo-resized.png" alt="html logo" width="30px">HTML</li>
            <li><img src="/img/css-logo-resized.png" alt="css logo" width="30px">CSS</li>
            <li><img src="/img/js-logo-resized.png" alt="js logo" width="30px">JS</li>
            <li>
                <div id="reactLogo"><img src="/img/react-logo-resized.png" alt="React logo" width="30px">REACT</div>
            </li>
            <li><img src="/img/github-logo-resized.png" alt="Github logo" width="30px">Github</li>
            <li><img src="/img/git-logo-resized.png" alt="Git logo" width="30px">Git</li>
            <li><img src="/img/11ty-logo-resized.png" alt="11ty logo" width="30px">11ty</li>
            <li><img src="/img/photoshop-logo-resized.png" alt="Photoshop logo" width="30px">Photoshop</li>
            <li><img src="/img/premiere-logo-resized.png" alt="Adobe premiere pro logo" width="30px">Adobe premiere pro</li>
        </ul>
    </div>
    <div class="col-md">
        <ul class="skills-list">
            <li>Effective communication</li>
            <li>Embraces feedback</li>
            <li>Time management</li>
            <li>Problem solving</li>
            <li>Open-minded</li>
            <li>Organisation</li>
            <li>Personable</li>
            <li>Team work</li>
            <li>Integrity</li>
            <li>Adaptive</li>
        </ul>
    </div>
</div>