---
layout: layouts/header-and-nav.njk
---
{# Skills section #}
<section class="p-5 skills">
   {% include "skills.njk" %}
</section>

{# Projects section #}
<section id ="projects" class="p-2">
    {% include "projects.njk" %}
</section>

{# Carousel section #}
<section class="p-2">
    {% include "carousel.njk" %}
</section>

{# Blog section #}
<section class="p-2">
    <h2 id="blog">My blog</h2>
    <div class="centred">{{ content | safe }}</div>
</section>
{# Footer #}
<footer class="p-3">
    {% include "footer.njk" %}
</footer>
