---
layout: layouts/header-and-nav.njk
---
{# Skills section #}
<section class="p-5 skills">
   {% include "skills.njk" %}
</section>

{# Projects section #}
<section id ="projects" class="projects">
    {% include "projects.njk" %}
</section>

{# Carousel section #}
<div class="centred">
    {% include "carousel.njk" %}
</div>

{# Blog section #}
<section class="centred" id="blog">
    <h2>My blog</h2>
    {{ content | safe }}
</section>